.brand-wrap{
    position: relative;
}
.fp-tableCell{
    vertical-align: baseline!important;
}
.brand-wrap>.logo {
    width: 1.31rem;
    height: 1.31rem;
 
    position: absolute;
    right: .24rem;
    top: 0.15rem;
}

.brand-wrap>.title {
    margin: 0rem .5rem ;
    color: #333333;
    padding-top: .5rem;
    margin-bottom: .28rem;
    font-weight: 700;
}

.brand-wrap>.des {
    margin: 0 .5rem;
    color: #333333;
    font-size: .28rem;
    text-align: justify;
}

.banner-wrap {
    position: relative;
}

.banner-wrap>.btn {
    width: 1.92rem;
    height: .49rem;
    border-radius: .24rem;
    border: 1px solid #bea16c;
    color: #ffffff;
    background-color: #bea16c;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: .49rem;
    margin-top: .3rem;
   
}

.banner-wrap>.banner {
    width: 7.5rem;
}

.swiper-pagination {
    position: fixed!important;
    top: 50%;
    transform: translate(0%, -50%);
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #bea16c!important;
}
.banner{
    margin-top: .5rem;
}