.com-eg-title{
    color: #888886;
    font-size: .24rem;
}
.com-title{
    width: 3.65rem;
    height: .75rem;
    border: 1px solid #888886;
    color: #2c3d4e;
    font-size: .32rem;
    margin-top: .15rem;
}