.title{
    width: 6.72rem;
    color: #313131;
    font-size: .26rem;
    font-weight: 700;
}
.des{
    width: 6.72rem;
    color: #9c9c9c;
    font-size: .2rem;
    line-height:.38rem ;
    margin-top: .2rem;
}   
.banner{
    width: 6.72rem;
    margin-bottom: .9rem;
    margin-top: .4rem;
}