.swiper-container {
    width: 100%;
}

.swiper-img {
    width: 100%;
    height: 4.2rem;
}

.title-wrap {
    margin: .5rem auto .36rem;
}

.title-item>.fly {
    width: .39rem;
    height: .31rem;
}

.title-text {
    color: #303d4c;
    font-weight: 700;
}

.eg-title {
    color: #999999;
    margin-top: .1rem;
}

.brand-wrap {
    width: 100%;
    /* overflow-x: scroll;
    white-space: nowrap; */
}

.brand-item {
    width: 6.3rem;
    position: relative;
    background: #f2f2f2;
    margin-bottom: .27rem;
}

.brand-img {
    width: 100%;
    height: 2.63rem;
}

.brand-logo {
    position: absolute;
    top: 2.19rem;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    border: 1px solid #bea16c;
}

.brand-title {
    padding-left: .22rem;
    color: #212121;
    margin-top: .47rem;
    font-weight: 700;
}

.brand-des {
    color: #666666;
    white-space: normal;
    margin-top: .1rem;
    padding: 0 .3rem;
}
.brand-des1 {
    color: #666666;
    margin-top: .13rem;
}
.brand-btn {
    width: 1.48rem;
    height: .45rem;
    border-radius: .2rem;
    background-color: #bea16c;
    color: #ffffff;
    margin-top: .1rem;
    margin-bottom: .2rem;
}

.social-wrap {
    position: relative;
    height: 7.95rem;

}

.social-bg {
    position: absolute;
    width: 100%;
    height: 7.95rem;
}

.social-cont {
    position: relative;
    z-index: 1;
}

.social-item {
    color: #ffffff;
    margin-top: .7rem;
    width: 33%;
}

.social-img {
    width: 1.5rem;
    height: 1.5rem;
}

.socail-text {
    margin-top: .19rem;
}

.news-img {
    width: 6.7rem;
    display: block;
    margin: 0 auto;
}

.news-item {
    margin:0 .3rem;
    min-height: 1.8rem;
    padding: .3rem 0.1rem;
    border-bottom: 1px solid #e7e7e7;
}

.news-title {
    font-size: .32rem;

    color: #1a1a1a;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    font-family: Microsoft YaHei,Helvetica Neue,Helvetica,STHeiTi,Arial,sans-serif;


}

.news-des {
    font-size: .28rem;
    color: #a8a8a8;
    margin-top: .3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}
.news-more{
    width: 1.74rem;
    height: .49rem;
    background-color: #bea16c;
    border-radius: .25rem;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    line-height: .49rem;
    text-align: center;
    margin-top: .35rem;
    margin-bottom: .5rem;

}
