.team-wrap{
    padding: .7rem .3rem;
}
.person-wrap{
    width: 7.05rem;
    height: 4.83rem;
    border:1px solid #f2f2f2;
    position: relative;
    margin-top: .6rem;
    margin-bottom: 1.27rem;
}
.person-item{
    position: absolute;
    top: .2rem;
}
.person{
    width: 6.84rem;
    display: none;
}
.btn-wrap{
    /* width: 3rem; */
    /* position: absolute; */
    right: 0;
    top: 3.25rem;
    width: 100%;
    margin-top: .26rem;
}
.btn{
    width: .75rem;
    height: .85rem;
    margin-top: 0.1rem;
}
.btn-hover{
    border:2px solid #bea16c;

}
.banner-wrap{
    margin-top: .87rem;
    width: 6.52rem;
}
.banner-img{
    width: 100%;
}
#team{
    width: 100%;
    background-color: #ebebe9;
    padding: .25rem 0 .7rem;
}
.swiper-slide{
    text-align: center;
}
.swiper-img{
    width: 6.2rem;
}
