.work-wrap {
   width:7rem;
}

.work-cont {
    width: 3.36rem;
    height: 5.3rem;
    box-shadow: 1px 1px 5px #eaeaea;
    margin-bottom: .2rem;
    border-radius: .1rem;
    overflow: hidden;
}

.img-wrap {
    width: 3.36rem;
    height: 4rem;
    overflow: hidden;
}

.work-img {
    width: 3.36rem;
    height: auto;
    min-height: 4rem;
}

.work-list>.name {
    font-size: .32rem;
    margin-top: .1rem;
    color: #111111;
    overflow:hidden;
    display:-webkit-box;
   -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
    text-overflow:ellipsis;
}

.work-list>.des {
    font-size: .26rem;
    color: #bea16c;
    max-width: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    padding: .03rem .05rem;
    margin-top: .1rem;
    border: 1px solid #bea16c;
    border-radius: .16rem;

}

.work-list>.com {
    margin-top: .1rem;
    color: #111111;
}