<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/title.css" />
    <link rel="stylesheet" href="css/btm.css" />
    <link rel="stylesheet" href="css/com.css" />
    <!-- <link rel="stylesheet" href="css/assit.css" /> -->
    <link rel="stylesheet" href="css/serviceSystem.css" />
    <title>服务策划</title>
</head>

<body>
    <div class="contain">
        <!-- 占位 -->
        <div class="nav-pos"></div>
        <!-- 导航栏 -->
        <div class="nav-wrap row j-b a-c">
            <img class="nav-logo" src="img/title/logo.png" alt="" />
            <img class="nav-more" src="img/title/more.png" alt="" />
            <div class="nav-cont">
                <div class="nav-mask">
                </div>
                <img class="nav-close" src="img/title/close.png" alt="" />
                <div class="nav-list" style="margin-top:1rem">
                    <div class="nav-title-wrap row j-b a-c">
                        <a href="./index.html">
                            <div class="nav-title row a-c">首页</div>
                        </a>
                    </div>
                </div>
                <div class="nav-list">
                    <div class="nav-title-wrap row j-b a-c">
                        <a href="./brand.html">
                            <div class="nav-title row a-c">品牌产品</div>
                        </a>
                    </div>
                </div>
                <div class="nav-list">
                    <div class="nav-title-wrap row j-b a-c">
                        <a href="./serviceSystem.html">
                            <div class="nav-title row a-c">服务策划</div>
                        </a>
                    </div>
                </div>
                <div class="nav-list">
                    <div class="nav-title-wrap row j-b a-c">
                        <div class="nav-title row a-c">解决方案</div>
                        <img class="nav-right" src="img/title/right.png" alt="" />
                    </div>
                    <div class="nav-item">
                        <a href="./funeralService.html">
                            <div class="van-sbtitle row a-c j-c"> 殡仪服务</div>
                        </a>
                        <a href="./funeral.html">
                            <div class="van-sbtitle row a-c j-c"> 殡仪馆</div>
                        </a>
                        <a href="./cemetery.html">
                            <div class="van-sbtitle row a-c j-c"> 墓园</div>
                        </a>
                        <a href="./manufactor.html">
                            <div class="van-sbtitle row a-c j-c"> 生产厂家</div>
                        </a>
                    </div>
                </div>
                <div class="nav-list">
                    <div class="nav-title-wrap row j-b a-c">
                        <a href="./assist.html">
                            <div class="nav-title row a-c">帮扶计划</div>
                        </a>
                    </div>
                </div>
                <div class="nav-list">
                    <div class="nav-title-wrap row j-b a-c">
                        <div class="nav-title row a-c">新闻中心</div>
                        <img class="nav-right" src="img/title/right.png" alt="" />
                    </div>
                    <div class="nav-item">
                        <a href="./group.html">
                            <div class="van-sbtitle row a-c j-c"> 集团动态</div>
                        </a>
                        <a href="./industry.html">
                            <div class="van-sbtitle row a-c j-c"> 行业动态</div>
                        </a>
                        <a href="./undertaker.html">
                            <div class="van-sbtitle row a-c j-c"> 新殡葬人</div>
                        </a>
                        <a href="./video.html">
                            <div class="van-sbtitle row a-c j-c"> 视频专区</div>
                        </a>
                    </div>
                </div>
                <div class="nav-list">
                    <div class="nav-title-wrap row j-b a-c">
                        <div class="nav-title row a-c">关于我们</div>
                        <img class="nav-right" src="img/title/right.png" alt="" />
                    </div>
                    <div class="nav-item">
                        <a href="./introduce.html">
                            <div class="van-sbtitle row a-c j-c"> 集团介绍</div>
                        </a>
                        <a href="./history.html">
                            <div class="van-sbtitle row a-c j-c"> 发展历程</div>
                        </a>
                        <a href="./team.html">
                            <div class="van-sbtitle row a-c j-c"> 团队介绍</div>
                        </a>
                        <a href="./position.html">
                            <div class="van-sbtitle row a-c j-c"> 集团定位</div>
                        </a>
                        <a href="./contact.html">
                            <div class="van-sbtitle row a-c j-c"> 联系我们</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 内容 -->
        <div class="ser-wrap col j-c a-c">
            <div class="ser-top col j-c a-c">
                <div class="com-eg-title">SERVICE PLAN</div>
                <div class="com-title col a-c j-c">服务策划</div>
                <div class="ser-top-list row f-w j-b">
                    <a href="http://wx.app.jzb768.com/#/funeralPlanning">
                        <div class="ser-top-item">
                            <img class="ser-img" src="img/serviceSystem/icon_1.png" alt="" />
                            <div class="ser-title">殡仪策划</div>
                            <div class="ser-des">FUNERAL PLANNING</div>
                        </div>
                    </a>
                    <a href="http://wx.app.jzb768.com/#/burialPlanning">
                        <div class="ser-top-item">
                            <img class="ser-img" src="img/serviceSystem/icon_1.png" alt="" />
                            <div class="ser-title">安葬策划</div>
                            <div class="ser-des">BURIAL PLOT</div>
                        </div>
                    </a>
                    <a href="http://wx.app.jzb768.com/#/deathbed">
                        <div class="ser-top-item">
                            <img class="ser-img" src="img/serviceSystem/icon_1.png" alt="" />
                            <div class="ser-title">临终关怀</div>
                            <div class="ser-des">HOSPICE CARE</div>
                        </div>
                    </a>
                    <a href="http://wx.app.jzb768.com/#/memorial">
                        <div class="ser-top-item">
                            <img class="ser-img" src="img/serviceSystem/icon_1.png" alt="" />
                            <div class="ser-title">线上追思</div>
                            <div class="ser-des">ONLINE MEMORIAL</div>
                        </div>
                    </a>
                </div>
            </div>
            <!--    地图 -->
            <div class="map-wrap col a-c ">
                <div class="map-title">全国现已有130+</div>
                <div class="map-des">加入条件，所在城市综合排名前5名+</div>
                <div class="map-des">每20万人口仅限一家，全国每年仅限80家</div>
                <img class="map-img" src="img/serviceSystem/map.png" alt="" />
                <div class="map-tip">品宣、获客、提效、规范、增绩，全方位为您服务</div>
                <a href="./assist.html">
                    <div class="map-btn row a-c j-c">了解详情</div>
                </a>
            </div>
            <div class="container col a-c">
                <div class="content col a-c" id="apply">
                    <div class="title">查询当地联盟商</div>
                    <div class="item col a-c">
                        <input class="address com" id="txt_area" placeholder="请选择您所在的城市" name="address"
                        v-model="address" @click="areaShowList" readonly="readonly">
                        <input class="name com" type="text" name="name" placeholder="请输入您的称呼" v-model="name">
                        <input class="tel com" type="number" name="phone" placeholder="请输入手机号码" v-model="mobile">
                     
                     
                        <div class="textbtn row j-c a-c" @click="_unionApply">查询</div>
                        <div class="tip">查询城市已有8家联盟商家</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <div class="btm-wrap col a-c">
            <div class="btm-list row j-c">
                <a href="./brand.html">
                    <div class="btm-text">品牌产品</div>
                </a>
                <a href="./serviceSystem.html">
                    <div class="btm-text">服务策划
                    </div>
                </a>
                <a href="./funeralService.html">
                    <div class="btm-text">解决方案
                    </div>
                </a>
                <a href="./assist.html">
                    <div class="btm-text">帮扶计划</div>
                </a>
                <a href="./group.html">
                    <div class="btm-text">新闻中心</div>
                </a>
                <a href="./introduce.html">
                    <div class="btm-text" style="border-right: 1px solid #bea16c;"> 关于我们</div>
                </a>
            </div>
            <div class="btm-tip">让殡葬行业成为受社会尊重的行业</div>
            <div class="btm-record ">©2019 孝子部落集团网站 <a style="color:#ffffff"
                    href="http://icp.chinaz.com/home/info?host=xiaozibl.com">辽ICP备19011194号-1 </a></div>
        </div>
    </div>
</body>
<script src="js/jquery-1.8.2.js"></script>
<script src="js/noScaling.js"></script>
<script src="js/layer.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script src="js/share.js"></script>
<script src="js/title.js"></script>
<script src="js/coment.js"></script>
<script>
    $(function () {

    })
</script>

</html>